@{
    ViewBag.Title = "Специализация врача";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="policlinicId" value="@ViewBag.PoliclinicId" />
<h2 class="page-title">Заказ талона</h2>
<p id="backButton" style="display: none;">Предыдущий шаг</p>
<h3>Специализация</h3>
<ul class="flex-list orange">
    @for (var i = 0; i < ViewBag.Specializations.Count; i++)
    {
        <li class="specialization" id="@ViewBag.Specializations[i].SpecializationId">@ViewBag.Specializations[i].Name</li>
    }
</ul>

<script>
    $(".specialization").click(function () {
        window.location = '/talonorder/orderstep1?specializationId=' + $(this).attr("id") + '&policlinicId=@ViewBag.PoliclinicId';
    });
</script>