
@{
    ViewBag.Title = "OrderStep3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @for (var i = 0; i < ViewBag.Times.Count; i++)
    {
        <li class="talonTime" id="@((ViewBag.Times[i]))">
            @((ViewBag.Times[i]))
        </li>
    }
</ul>

<script>
    $(document).ready(function () {
        $(".talonTime").click(function () {
            window.location = '/talonorder/orderstep4?date=@ViewBag.Date&specializationId=@ViewBag.SpecializationId&policlinicId=@ViewBag.PoliclinicId&doctorId=@ViewBag.DoctorId&time=' + JSON.stringify($(this).attr('id'));
        });
    })
</script>