@{
    ViewBag.Title = "OrderStep2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="flex-list orange">
    @for (var i = 0; i < ViewBag.Doctors.Count; i++)
    {
        <li class="doctor" id="@((ViewBag.Doctors[i].DoctorId))">
            @((ViewBag.Doctors[i].Fio))
        </li>
    }
</ul>
<script>
    $(document).ready(function () {
        $(".doctor").click(function () {
            window.location = '/talonorder/orderstep2?specializationId=@ViewBag.SpecializationId&policlinicId=@ViewBag.PoliclinicId&doctorId=' + $(this).attr('id');
        });
    })
</script>
