
@{
    ViewBag.Title = "HomeVisitHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">История вызова врача</h2>

<a href="@Url.Action("History", "MyTalon", new { policlinicId = ViewBag.PoliclinicId, patientId = ViewBag.PatientId }) " class=" btn green black">История заказов талонов</a>
<a disabled class="btn darker-green black">История вызова врача</a>

<table class="table table-hover orange">
    @for (var i = 0; i < ViewBag.Histories.Count; i++)
    {
        <tr>
            <td>@ViewBag.Histories[i].Policlinic.Title</td>
            <td>@ViewBag.Histories[i].Date</td>
            <td><a href="@Url.Action("CancelHomeOrder", "MyTalon", new { policlinicId = ViewBag.PoliclinicId, patientId = ViewBag.PatientId, homeVisitHistoryId = ViewBag.Histories[i].HomeVisitHistoryId })" class="btn btn-sm btn-danger">Cancel</a></td>
        </tr>
    }
</table>
