
@{
    ViewBag.Title = "История заказов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">История заказов</h2>

<table class="history-table orange">
    <thead>
        <tr>
            <th class="lead">Дата</th>
            <th class="lead">Время</th>
            <th class="lead">Врач</th>
            <th class="lead">Имя врача</th>
            <th class="lead"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="lead">15 декабря 2015</td>
            <td class="lead">9.00</td>
            <td class="lead">Хирург</td>
            <td class="lead">Иванова А.А.</td>
            <td class="lead">Удалить</td>
        </tr>
        <tr>
            <td class="lead">20 декабря 2015</td>
            <td class="lead">14.00</td>
            <td class="lead">Невролог</td>
            <td class="lead">Петрова А.А.</td>
            <td class="lead">Удалить</td>
        </tr>
    </tbody>
</table>