@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr/>
<h2 class="lead">Выберите поликлинику</h2>
<h4>регион # @ViewBag.RegionId</h4>
<ul class="flex-list orange">
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 1})">1-я поликлиника</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Policlinic", new {policlinicId = 2})">2-я поликлиника</a>
    </li>
</ul>

