@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr/>
<h2 class="lead">Выберите поликлинику</h2>
<h4>регион # @ViewBag.RegionId</h4>
<ul class="flex-list orange">
    @for (var i = 0; i < ViewBag.Policlinics.Count; i++)
    {
        <li>
            <a href="@Url.Action("Index", "Policlinic", new {policlinicId = ViewBag.Policlinics[i].PoliclinicId})">@ViewBag.Policlinics[i].Title</a>
        </li>
    }
</ul>

