* {
    padding: 0;
    margin: 0;
    color: #000;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.blue {
    opacity: .8;
    background-color: #336371;
    border: none;
    color: #eee;
}

.blue a {
    color: #eee;
}

.blue a:hover {
    color: #336371;
}

a.navbar-brand:hover {
    color: #eee;
    text-decoration: underline;
}

body {
    background-color: #f2f3c9;
}

.green {
    background-color: #93af56;
    opacity: .8;
}

.jumbotron.green {
    max-height: 300px;
}

.orange {
    background-color: #f0d587;
}

table.orange {
    text-align: center;
    border: none;
}

table.orange a {
    color: #222;
}

.flex-list {
    max-width: 80%;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.flex-list * {
    color: #000;
}

.flex-list > * {
    border: 1px dashed #333;
    display: block;
    list-style: none;
    padding: 25px;
    font-size: 1.25em;
}

.polyclinic-action-container {
    text-align: center;
    margin-top: 50px;
}

.polyclinic-action {
    text-align: left;
    padding: 15px 20px;
    margin: 0 15px;
    display: inline-block;
    width: 300px;
    max-width: 25%;
    font-size: 1.25em;
}

.polyclinic-action * {
    color: #000;
}

.history-table {
    margin: 0 auto;
}

.history-table tr > *{
    padding: 10px;
    border: 1px dashed #000;
    text-align: left;
}

.page-title {
    margin-bottom: 50px;
}